$blue: #0074D9;
$red: #FF4136;
$white: #FFF;
$grey: #888;
$green: #3D9970;

html {
  color-scheme: light dark;
}
body {
  width: 35em;
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

/* Block */
.btn {
  text-decoration: none;
  background-color: white;
  color: $grey;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
}

/* Element */
.btn__price {
  color: $white;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px; /* realign button text padding */
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
}

.btn__text {
  padding: 0 10px;
  border-radius: 0 5px 5px 0;
}

/* Modifier */
.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--blue {
  border-color: $blue;
  color: white;
  background-color: $blue;
}

.btn--orange {
  border-color: $red;
  color: white;
  background-color: $red;
}

.btn--green {
  border-color: $green;
  color: white;
  background-color: $green;
}
