:root {
  /* Colors */
  --color-text: #333;
  --color-background: #fff;
  --color-card-back: lightgray;
  --color-card-matched: lightgreen;
  --color-card-border: black;

  /* Layout */
  --vertical-info-height: 33vh;
  --vertical-game-height: 67vh;
  --vertical-spacer-height: 20vh;
  --horizontal-game-width: 60%;
  --horizontal-score-width: 20%;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  /* Typography */
  --font-size-normal: 1rem;
  --font-size-title: 1.5rem;
  --font-size-subtitle: 1.2rem;
  --font-family: Tahoma, Verdana, Arial, sans-serif;
}

html {
  color-scheme: light dark;
}

body {
  margin: 0 auto;
  font-family: var(--font-family);
  display: flex;
  flex-direction: row;
  padding: 5vh 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

/* Layout */
.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;

  .layout__column {
    display: flex;
    flex-direction: column;
  }

  .layout__column--left {
    width: var(--horizontal-game-width);
  }

  .layout__column--right {
    width: var(--horizontal-score-width);
    padding: var(--spacing-large);
  }
}

/* Info box */
.info {
  height: var(--vertical-info-height);
  padding: var(--spacing-medium);

  .info__title {
    font-size: var(--font-size-title);
    font-weight: bold;
    margin-bottom: var(--spacing-medium);
  }

  .info_item {
    margin-bottom: var(--spacing-small);
  }
}

/* Game box */
.game {
  height: var(--vertical-game-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .game__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--spacing-small);
  }
}

/* Cards */
.card {
  width: 15%;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  background-color: var(--color-card-back);
  border: 2px solid var(--color-card-border);
  cursor: pointer;
  margin-right: var(--spacing-small);

  .card:last-child {
    margin-right: 0;
  }

  .card--flipped {
    background-color: var(--color-background);
  }

  .card--matched {
    background-color: var(--color-card-matched);
  }
}

/* Score box */
.score {
    height: var(--vertical-game-height);
    padding: var(--spacing-medium);

  .score__title {
    font-size: var(--font-size-subtitle);
    margin-bottom: var(--spacing-medium);
  }

  .score__list {
    list-style-type: none;
    padding: 0;
  }

  .score__item {
    margin-bottom: var(--spacing-small);
  }
}

/* Spacer box above score */
.spacer {
  height: var(--vertical-spacer-height);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #f5f5f5;
    --color-background: #222;
    --color-card-back: #444;
    --color-card-border: #777;
  }

  body {
    color: var(--color-text);
    background-color: var(--color-background);
  }
}
